<div>

    <div class="searchRow">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <input class="form-control" type="text" [(ngModel)]="name" placeholder="Enter Name" required>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="text" [(ngModel)]="mobile" placeholder="Enter Phone" required>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="date" [(ngModel)]="dob" placeholder="Enter Dob" required>
            </div>

            <div class="col-md-1">
                <button md-button class="btn" (click)="search()">Search</button>
            </div>

        </div>
    </div>

</div>

<div *ngIf="customers.length !== 0">

    <div class="table-responsive text-center">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="tdWidth">Name</th>
                    <th class="tdWidth">Email</th>
                    <th class="tdWidth">Phone</th>
                    <th class="tdWidth">DOB</th>
                    <th class="tdWidth">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of customers" class="capitalize">

                    <td class="tdWidth">
                        <a [routerLink]="[item.id]">
                            {{item?.name || 'NA'}}
                            </a>
                    </td>

                    <td class="tdWidth">{{item?.email || 'NA'}}</td>
                    <td class="tdWidth">{{item?.mobile || 'NA'}}</td>
                    <td class="tdWidth">{{item?.dob || 'NA'}}</td>
                    <td class="tdWidth">
                        <button md-button class="actions" (click)="delete(item)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div *ngIf="customers.length === 0">
    <div style="text-align: center;">
        <h5><b>No Customer Found. Please Add</b></h5>
    </div>
</div>

<div class="text-right page" *ngIf="customers.length !== 0">
    <select [(ngModel)]="pageSize" (change)="pageNo = 1;getAllCustomers();">
        <option [value]=10>10</option>
        <option [value]=20>20</option>
    </select>
    <button class="pagination" (click)="previous()">Previous</button>
    <button class="pagination" (click)="next()">Next</button>
</div>