<div>
    <div class="align">
        <button md-button class="btn" (click)="add()">Add Customer</button>

    </div>
</div>

<div *ngIf="customers.length !== 0">

    <div class="table-responsive text-center">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="tdWidth">Name</th>
                    <th class="tdWidth">Email</th>
                    <th class="tdWidth">Phone</th>
                    <th class="tdWidth">DOB</th>
                    <th class="tdWidth">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of customers" class="capitalize">

                    <td class="tdWidth">
                        <a [routerLink]="[item.id]">
                            {{item?.name || 'NA'}}
                            </a>
                    </td>

                    <td class="tdWidth">{{item?.email || 'NA'}}</td>
                    <td class="tdWidth">{{item?.mobile || 'NA'}}</td>
                    <td class="tdWidth">{{item?.dob || 'NA'}}</td>
                    <td class="tdWidth">
                        <button md-button class="actions" (click)="delete(item)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div *ngIf="customers.length === 0">
    <div style="text-align: center;">
        <h5>No Customer Found. Please Add </h5>
    </div>
</div>