<div>
    <div>
        <div class="align">
            <button md-button class="btn" routerLink="../">Back</button>
        </div>
    </div>
    <div>
        <div class="col-md-6 col-md-offset-3">
            <!--<form class="form-horizontal">-->
            <div>
                <label class="control-label col-sm-2">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="customer.name" placeholder="Enter Name" name="name" id="name" required>
                </div>
            </div>
            <br>
            <br>
            <br>

            <div>
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" [(ngModel)]="customer.email" id="email" placeholder="Enter email" name="email" required>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div>
                <label class="control-label col-sm-2" for="email">Mobile:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="customer.mobile" id="mobile" placeholder="Enter mobile" name="mobile" required>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div>
                <label class="control-label col-sm-2" for="email">Dob:</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="dob" [(ngModel)]="customer.dob" placeholder="Enter Dob" name="dob" id="dob">
                </div>
            </div>
            <br>
            <br>
            <br>
            <div>

                <label class="control-label col-sm-2" style="margin-top:5px;">Addresses:</label>


                <div class="col-sm-10 addressess" style="margin-top:10px;" *ngFor="let item of customer.addresses">

                    <label class="control-label col-sm-2" for="email">House No:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="item.hNo" placeholder="Enter House No"><br>
                    </div>

                    <label class="control-label col-sm-2" for="email">Street:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="item.street" placeholder="Enter street"><br>
                    </div>

                    <label class="control-label col-sm-2" for="email">City:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="item.city" placeholder="Enter city"><br>
                    </div>

                    <label class="control-label col-sm-2" for="email">State:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="item.state" placeholder="Enter state">
                        <br>

                    </div>

                    <label class="control-label col-sm-2" for="email">Pincode:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="item.pinCode" placeholder="Enter Pincode">
                        <hr>
                    </div>


                </div>


            </div>



            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-10">
                    <button class="addMore" (click)="addressInc()">Add Address</button>
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-sm-offset-2 col-sm-10 add">
                    <button (click)="update()" md-button class="btn btn-default">Save</button>
                </div>
            </div>
            <!--</form>-->
        </div>
    </div>
</div>